@import "../../styles";

.diagram-insertion-sort {
  @include flexer($dir: row, $just: space-between, $ai: center);
  height: 200px;
  width: 400px;

  &-variables {
    height: 60px;
    padding-top: 20px;
  }

  .array {
    width: 320px;
    @include flexer($dir: row, $just: space-around, $ai: center);
  }

  .array-name {
    padding-top: 20px;
  }

  .sort-array {
    height: 150px;
    @include flexer($dir: row);
  
    &-element {
      @include flexer($dir: column, $just: center, $ai: center);
  
      &-above,
      &-below {
        @include flexer($dir: column, $just: center, $ai: center);
        width: 30px;
        height: 30px;
      }
  
      &-value {
        @include flexer($ai: center, $just: center);
        width: 30px;
        height: 30px;
        border: 1px solid black;
      }
    }
  }
}
