@import "../../styles";

.controls {
  .dummy {
    color: white;
    font-size: 0.5pt;
  }

  &-panel {
    width: 350px;
    @include flexer($dir: row, $ai: center, $just: space-between);
  }

  &-buttons {
    @include flexer($dir: row, $ai: center, $just: center);

    button {
      width: 50px;
    }
  }

  &-playback {
    width: 150px;
    @include flexer($dir: column, $ai: center, $just: center);

    &-speed {
      text-align: center;
      font-size: 8pt;
    }

    .active {
      color: $black;
    }
  
    .inactive {
      color: $gray;
    }
  }

  &-skip {
    margin-bottom: 28px;
  }
}
