@import "../../styles/mixins";

.controls {
  // width: 100%;

  &-panel {
    width: 350px;
    @include flexer($dir: row, $ai: center, $just: space-between);
  }

  &-buttons {
    @include flexer($dir: row, $ai: center, $just: center);

    button {
      width: 50px;
    }
  }

  &-playback {
    width: 150px;
    @include flexer($dir: column, $ai: center, $just: center);

    &-speed {
      text-align: center;
      font-size: 8pt;
    }
  }

  &-skip {
    margin-bottom: 28px;
  }
}
